our_key_path: ~/.ssh/id_rsa.pub

project_name: myproject 
domain_name: myproject.com

user: root
port: 22
deploy_user: my_user 
deploy_user_home: "/home/%(deploy_user)s/"

workon_home: "%(deploy_user_home)s.virtualenvs/"
virtual_env_name: "%(domain_name)s"
virtual_env_loc: "%(workon_home)s%(virtual_env_name)s"
virtual_env_activate: "%(virtual_env_loc)s/bin/activate"
settings_module: "%(project_name)s.settings"

repo_remote_location: https://myuser.github.com/myrepository
repo_destination: "%(deploy_user_home)s%(domain_name)s"
app_root: "%(repo_destination)s/%(project_name)s"
requirements_file: "%(repo_destination)s/requirements.pip"

log_location: "/var/log/%(project_name)s/"
socket_location: "/var/run/%(project_name)s/"
local_server_url: 127.0.0.1:3031


db_name: %(project_name)s 
db_user: postgres
db_pw: mypassword 
db_port: 5433
db_backup_location: "/var/local/%(project_name)s/db_backups/"


servers:
    prod:
        branch: master
        web:
            prod.web01: 127.0.0.1
        db:
            prod.db01: 127.0.0.1
 
